section.aboutusadmin {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 5px #afcefe;
}

.aboutusdiv {
    border: 1px solid gainsboro;
}

div.viewprofile .container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

div.viewprofile .container .texts {
    margin-left: 250px;
}